export(estim_ncpFAMD,estim_ncpPCA,estim_ncpMCA,estim_ncpMultilevel,imputeCA,imputeFAMD,imputeMCA,imputeMFA,imputeMultilevel,imputePCA,MIMCA,MIFAMD,MIPCA,Overimpute,prelim,plot.MIPCA,plot.MIMCA,plot.MIFAMD)
import(doParallel)
import(foreach)
import(parallel)
importFrom(FactoMineR,PCA,MCA,svd.triplet,coord.ellipse,reconst,tab.disjonctif,tab.disjonctif.prop,plot.PCA)
importFrom(ggplot2,aes,geom_point,guides,guide_legend)
importFrom(graphics,plot,points,abline,segments,legend,par,mtext)
importFrom(grDevices,dev.new,heat.colors)
importFrom(mice,as.mids)
importFrom(mvtnorm,rmvnorm)
importFrom(stats,var,sd,rnorm,quantile,aggregate)
importFrom(utils,txtProgressBar,setTxtProgressBar)

S3method(plot, MIPCA)
S3method(plot, MIMCA)
