export(estim_ncpFAMD,estim_ncpPCA,estim_ncpMCA,imputeFAMD,imputeMCA,imputeMFA,imputePCA,MIMCA,MIPCA,Overimpute,prelim,plot.MIPCA)
importFrom(FactoMineR,PCA,MCA,MFA,FAMD,svd.triplet,coord.ellipse,reconst,tab.disjonctif.prop)
importFrom(graphics,plot,points,abline,segments,legend,par)
importFrom(grDevices,dev.new,heat.colors)
importFrom(mice,as.mids)
importFrom(mvtnorm,rmvnorm)
importFrom(stats,sd,rnorm,quantile)
importFrom(utils,txtProgressBar,setTxtProgressBar)

S3method(plot, MIPCA)
